.navbar {
  display: flex;
  background-color: beige;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

h1 {
  margin: 0;
}
.nav-links {
  display: flex;
  gap: 10px;
}

a {
  text-decoration: none;
  color: #000;
}

.van-btn {
  cursor: pointer;
  padding: 15px;
  background-color: rgb(247, 177, 47);
  border-radius: 5px;
  border: none;
  width: 60%;
  margin-bottom: 10px;
  color: #fff;
  font-weight: bold;
}

.find-van {
  background-image: url('./images/home-hero.png');
  display: flex;
  flex-direction: column;
  padding: 30px;
  color: #fff;
}

.footer {
  display: flex;
  justify-content: center;
  background-color: rgb(31, 30, 30);
  color: darkgrey;
  padding: 10px;
}

.about {
  padding: 5px;
}
.about-img {
  width: 100%;
}

.about-content {
  padding: 10px;
}

.sedan {
  font-weight: bold;
  font-size: 25px;
}

.explore {
  background-color: rgb(248, 200, 110);
  padding: 10px;
}

.explore-btn {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #000;
  color: #fff;
  cursor: pointer;
}